@font-face {
  font-family: "Inter";
  src: url(../fonts/Inter-VariableFont_slnt\,wght.ttf);
}

/* 
* Déclaration des variables
*/
:root {
  --steel-pink: #c200c8ff;
  --blue-dark: #085ebfff;
  --footer-dark: rgb(3, 47, 97);
  --black: #080705;
  --black-2: #121212;
  --white-blue: #0077d0ff;
  --text-secondary: #474747;
  --light-text: #ddd;
  --text-font: "Inter", sans-serif;
  --bg-second: #edf0f7;
  --text-color: #202020;
}

/*
* Initialisation
*/
* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
/*
* Classes personnalisées
*/


/* 
* Barre de navigation
*/
header{
  box-shadow: 0 0 10px #00000020;
}

header a span{
 font-weight: 800;
 color: var(--steel-pink);
}
header a img{
  height: 3rem;
  margin-right: 1rem;
}

/* 
* Page d'accueil no auth
*/
.welcome{
  height: 90vh;
  min-height: 500px;
  justify-content: center;
  flex-direction: column;
  background-image: url(../img/Université-de-Lomé-Togo-orientation-bacheliers.jpg);
  background-size: cover;
  backdrop-filter: blur(100px);
}
.welcome__title{
  font-size: 3rem;
  font-weight: 800;
  color: #ffffff;
}
.welcome__title span{
  background-color: var(--steel-pink);
  font-weight: 800;
  padding: 0 1rem;
}
.welcome__text{
  font-size: 1.5rem;
  color: var(--steel-pink);
  padding: 10px;
  background-color: #ffffff;
}

/* 
* Inscription et connexion
*/
.gotologin{
  flex-direction: column;
  text-align: center;
  background-color: var(--bg-second);
}
.gotologin__title{
  font-weight: 700;
  font-size: 2rem;
  color: var(--text-color);
}
.gotologin__text{
  color: var(--text-secondary);
}
.gotologin__box{
  margin: 2rem 0;
  justify-content: center;
}
.gotologin__box__item{
  border-radius: 4px;
  background-color: #fff;  
  box-shadow: 0 0 10px #0000ff20;
  width: 250px;
}
.gotologin__box__item svg{
  height: 3rem;
  width: 3rem;
}
.gotologin__box__item h2{
  font-weight: 600;
  color: var(--text-color);
  font-size: 1.5rem;
}
.gotologin__box__item p{
  color: var(--text-secondary);
}

/* 
* Footer
*/
footer{
  padding: 3rem;
  justify-content: space-between;
  background-color: var(--footer-dark);
  color: var(--light-text);
  font-size: 1rem;
  align-items: center;
}
#scrollToTop{
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 4px;
  color: #fff;
  background-color: var(--steel-pink);
  cursor: pointer;
  transition: 0.25s ease-in-out;
  margin-left: 1rem;
}
#scrollToTop:hover{
  background-color: var(--white-blue);
}
#scrollToTop:active{
  background-color: var(--steel-pink);
}

/*
* Responsivité
*/
@media all and (max-width: 608px) {

  .welcome__title{
    font-size: 2rem;
    text-align: center;
    word-wrap: break-word;
  }

  footer div{
    flex-direction: column;
  }

}